<template name="Matches">
  <div class="matches">
    <h1>Find me in app/client/templates/matches/matches</h1>
    <h2>Look for matches in your area</h2>
    <br>
    We have created a winning formula with our dating algorithm that will match you on several different criteria.
    Gender:
    <select>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
    <br>
    <br>
    Looking for:
    <select>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
    <br>
    <br>
  </div>
</template>
